<link rel="stylesheet" type="text/css" href="style.css">



h2 {
text-align: center;
}

p.place-description {
font-family: Verdana;
color: olive;
}

p.person-description {
color: purple;
}

li.top-favorite {
font-weight: bold;
color: red;
font-style: italic;
}

p.important-point {
text-decoration: underline;
}

h1.emphasis {
font-style: italic;
  text-align: center;
  color: blue;
}
